@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
// font-family: 'League Spartan', sans-serif;

@import 'variables';
@import 'mixins';

body {
  min-height: 100vh;
  font-family: 'League Spartan', sans-serif;
  background: url('../../images/bg-pattern-top-mobile.svg') no-repeat top,
    url('../../images/bg-pattern-bottom-mobile.svg') no-repeat bottom;

  @include media-query($laptop) {
    background: url('../../images/bg-pattern-top-desktop.svg') no-repeat top
        left / 45%,
      url('../../images/bg-pattern-bottom-desktop.svg') no-repeat bottom right /
        70%;
    display: flex;
    align-items: center;
  }
}
