@import 'variables';
@import 'mixins';

.head {
    text-align: center;

    &__title {
        color: var(--primary-very-dark-magenta);
        font-size: 2.5em;
        line-height: .8;
        font-weight: 700;
    }

    &__text {
        color: var(--neutral-dark-grayish-magenta);
        line-height: 1.5;
        font-size: 1.1em;
    }

    @include media-query($laptop){
        font-size: 24px;
        width: 500px;
        &__title {
            text-align: left;
            width: calc(100% - 1.5em);
        }

        &__text {
            text-align: left;
            font-size: .85em;
        }
    }

}