@import 'variables';
@import 'mixins';

.testimonial {
    background-color: var(--primary-very-dark-magenta);
    display: flex;
    flex-wrap: wrap;
    gap: 1.3em;
    align-items: center;
    border-radius: .5em;
    padding: 2em;
    max-width: 290px;


    &__img {
        border-radius: 100%;
        width: 2.7em;
    }

    &__name, &__rol {
        margin: 0;
        font-size: 1.1em;
    }

    &__rol {
        color: var(--primary-soft-pink);
        font-weight: 400;
    }

    &__name {
        
    }

    &__text {
        font-size: 1.05em;
    }


    @include media-query($laptop){
        &:first-of-type {
            align-self: start;
        }

        &:last-of-type {
            align-self: end;
        }

    }
}